.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 20px;
  left: 4px;
  bottom: 4px;
  z-index: 2;
  background-color: #777777;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 5px;
  left: 34px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.moon svg {
  fill: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
  fill: #ecb943;
  stroke: #ecb943;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #121212;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}