@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --primary-color: #F1CD78;
    --secondary-color: #CFE96C;
    --secondary-color-800: #6c811b;
    --dark-1: #000000;
    --dark-2: #09090A;
    --dark-3: #101012;
    --dark-4: #1F1F22;
    --dark-5: #2F2F32;
    --dark-6: #41403c;
    --light-1: #FFFFFF;
    --light-2: #f1f0ef;
    --light-3: #dbd5cc;
    --light-4: #c8bdab;
    --light-4: #c2ae8e;
  }

  .dark {
    --background: var(--dark-3);
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shadow-primary {
  -webkit-box-shadow: 0px 1px 68px -1px var(--primary-color);
  -moz-box-shadow: 0px 1px 68px -1px var(--primary-color);
  box-shadow: 0px 1px 68px -1px var(--primary-color);
}
.shadow-primary-small {
  -webkit-box-shadow: 0px 1px 10px -1px var(--primary-color);
  -moz-box-shadow: 0px 1px 10px -1px var(--primary-color);
  box-shadow: 0px 1px 10px -1px var(--primary-color);
}
.shadow-secondary {
  -webkit-box-shadow: 0px 0px 15px 5px var(--secondary-color);
  -moz-box-shadow: 0px 0px 15px 5px var(--secondary-color);
  box-shadow: 0px 0px 15px 5px var(--secondary-color);
}
.text-shadow-primary {
  text-shadow:  0px 0px 20px var(--primary-color);
}

.loader {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 24px 0 #fff, -24px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 24px 0 #FFF2, -24px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 24px 0 #FFF2, -24px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 24px 0 #FFF, -24px 0 #FFF2;
  }
}
      
    
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 24px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger::after {
  content: "";
  background-color: var(--light-4);
  height: 2px;
  width: 24px;
  border: none;
  padding: 8px 0px;
  display: flex;
  padding: 0;
  box-shadow: 0 8px var(--light-4), 0 16px var(--light-4);
}

.button-send {
  font-family: inherit;
  font-size: 20px;
  display: flex;
  margin-left: 10px;
  align-items: center;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.button-send:hover .button-send-svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button-send svg {
  transition: all 0.2s;
}

.button-send:hover svg {
  transform: translateX(-0.3rem) rotate(45deg) scale(1.1);
  color: var(--primary-color);
}

.button-send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.05em);
  }

  to {
    transform: translateY(-0.05em);
  }
}

.file-clip {
  height: 24px;
  width: 24px;
  stroke-width: 1.3px;
  stroke: white;
  fill: none;
  cursor: pointer;
  transition: 0.3s all ease;
  transform: rotate(0deg);
}

.file-clip:hover {
  stroke: var(--primary-color);
  transform: rotate(-10deg);
}

.container-input {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.container-input input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 4px;
}

.container-input label {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(220, 220, 220, 0.7);
  text-transform: uppercase;
  pointer-events: none;
  transition: .5s;
  font-weight: bold;
  font-size: .8rem;
  transform: translateY(8px);
}
.container-input input:valid ~ label,
.container-input input:focus ~ label {
  color: var(--primary-color);
  transform: translateY(-12px);
  font-size: .7rem;
}

.container-input i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #222;
}

.container-input i:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark-5);
  animation: animate 3s linear infinite;
}
.left-corner-message {
  position: relative;
  overflow: visible;
}

.left-corner-message::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -15px;
  transform: rotate(225deg);
  border: 10px solid transparent;
  border-right-color: var(--dark-5); /* Змініть цей колір на потрібний */
}

.scroll-none::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}